/.idea/

/vstupnik.html
/index.php
/config.core.php
/entrants/index.php
/entrants/config.core.php
/entrants/manager/
/entrants/core/
/entrants/setup/
/entrants/connectors/
/entrants/.idea/
/assets/html/
/assets/images/
